#contacto{
    background: rgb(31, 31, 63);
    margin: 0;
    height: 100vh;
    
}

.containerContacto{
    
    position: relative;
    top: 110px;
    justify-content: center;
    align-self: center;

  

}

.tittleForm{
    display: flex;
    justify-content: center;
}

.contactoItems{

    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

input{
    width: 90%;
    height: 20px;
    background:rgb(59, 59, 122) ;
    color: aliceblue;
}

.inputMenssejer{


    display: flex;
    height: 250px;
    margin: 0;
  



}