#contacto{
    background: rgb(31, 31, 63);
    margin: 0;
    height: 100vh;
    
}

.containerContacto{
    
    display: flex;
    position: relative;
    top: 80px;
    justify-content: center;

  

}

.tittleForm{
    display: flex;
    justify-content: center;
}

.contactoItems{

    margin: 10px;
}
