/* DISEÑO MOVILES */


@media screen and (max-width: 1200px){


    /* SECCION DE HEADER */
    .encabezado{
        display: flex;
        position: fixed;
        height: 60px;
        margin: 0;
        padding: 0;
        background: white;
    
    }


    /* MENU */

   
    
    .check{
       display: flex;
       position: absolute;
       justify-content: center;
       margin: 20px;
       cursor: pointer;
    }
  
   
    


    .active {
         display: flex;
         position: absolute;
         margin-top: 60px;
         padding: 10px;
         flex-wrap: wrap;
         flex-direction: column;
         border-top: 1px;
         background: rgb(73, 50, 50);

      
       
      
        
    } 

    nav{

        display: none;
    }

    

    .ite{
    
     display: flex;
     border: 2px solid black;
     width: auto;
     margin: 1px;
     justify-content: center;
     

    }
 
   

    .auno{
        display: flex;
        
        justify-content: center;
        text-align: center;
        justify-self: center;
        padding: auto;
        margin: 0;

    
        
    }


}



@media screen and (max-width: 1200px){


    /*  SOBRE MI  */
    #SobreMi{
        width: auto;
        height: auto;
        margin: 20px auto;
        
        
        }

    .container{
       display: grid;
       grid-template-columns: repeat(2, 300px);
       grid-template-rows: repeat(3, 300px);
       justify-content: center;
        
    }
   
    .containeruno{
        grid-row:  1/2;
        grid-column: -1/1;
 


    }

    .containerdos{
        grid-row:  2/3;
        grid-column: -1/1;



    }
     
    
    .containertres{
        grid-row:  3/3;
        grid-column: -1/1;


    }
       


}








